.container {
  display: flex;
  flex-direction: column;

  background-color: white;
  width: 20rem;
  border-radius: 0.75rem;
  overflow: hidden;
}

.product-type {
  letter-spacing: .3rem;
  font-size: .75rem;
}

.product-name {
  font-family: Fraunces;
  color: hsl(212, 21%, 14%);
  font-size: 1.75rem;
}

.product-description {
  font-weight: 500;
  font-size: .8rem;
  line-height: 1.2rem;
}

.pricing-info {
  display: flex;
  align-content: center;
}

.price {
  font-family: Fraunces;
  font-size: 2rem;
  font-weight: 800;
  color: hsl(158, 36%, 37%);
  padding-right: 1.5rem;
}

.old-price {
  text-decoration: line-through;
}

.text-content {
  padding: 1.5rem;
  padding-top: 1rem;
}

.cart-icon {
  padding-right: .75rem;
}

.purchase-button {
  background-color: hsl(158, 36%, 37%);
  color: white;
  border: none;
  border-radius: .5rem;
  margin: 0 auto;
  width: 100%;
  padding: .75rem 0;

  font-family: Montserrat;
  font-weight: 600;
  transition-duration: .1s;
}

.purchase-button:hover {
  scale: 1.05;
  background-color: hsl(158, 56%, 21%);
}

@media only screen and (min-width: 48rem){
  .container{
    flex-direction: row;
    width: 48rem;
  }

  .product-image {
    content: url("/images/image-product-desktop.jpg");width: 24rem;
  }
  
  .product-type {
    font-size: 1rem;
  }
  
  .product-name {
    font-size: 2.5rem;
  }
  
  .product-description {
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.75rem;
  }
  
  .pricing-info {
    display: flex;
    align-content: center;
  }
  
  .price {
    font-family: Fraunces;
    font-size: 2rem;
    font-weight: 800;
    color: hsl(158, 36%, 37%);
    padding-right: 1.5rem;
  }
  
  .old-price {
    text-decoration: line-through;
  }
  
  .text-content {
    padding: 2rem;
    padding-top: 1rem;
  }
  
  .purchase-button {
    background-color: hsl(158, 36%, 37%);
    color: white;
    border: none;
    border-radius: .5rem;
    margin: 1rem auto;
    width: 100%;
    padding: 1.5rem 0;
  
    font-family: Montserrat;
    font-weight: 600;
  }
}